*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: $background;
    color: #fff;
    font-size: 18px;
    line-height: 26px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: .4px;
}

img{
    max-width: 100%;
}

::-moz-selection { 
    background: $secondary;
}

::selection {
    background: $secondary;
}

button{
    padding: 7px;
    border-radius: 7px;
    border: 0;
    cursor: pointer;
    font-weight: 700;

    &:hover{
        filter: brightness(.8);
    }
    &:active{
        filter: brightness(1.2);
    }
}

.item{
    margin-bottom: 5rem;
}

