$topbar: #13111b;
$bg: #1a1622;
$border-color: #211b2d;

.window{
    border-radius: 7px;
    width: 100%;
    overflow: hidden;
    background-color: $bg;


    &::after{
        content: '';
        display: block;
        width: 100%;
        height: 7px;
        background: linear-gradient(90deg, $primary, $secondary);
    }
    
    .topbar{
        background-color: $topbar;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        ul{
            display: flex;
            gap: 10px;
            
            li{
                list-style-type: none;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                
                &:nth-child(1){
                    background-color: #ff555b;
                }
                
                &:nth-child(2){
                    background-color: #ffb848;
                }
                
                &:nth-child(3){
                    background-color: #00c851;
                }
            }
        }

        button{
            background: $secondary;
            color: #fff;
            transition: all .2s;

            &.copy{
                background: #00c851;
                transition: all .2s;
            }

        }
    }

    .body-content{
        border-left: 20px solid $border-color;
        padding: 20px;
    }
}

.result{
    width: 100%;
    iframe{
        border: 0;
        width: 100%;
        border-radius: 7px;
    }
    &::before{
        content: '';
        display: block;
        width: 30px;
        height: 28px;
        background-image: url('../img/direct.png');
        background-size: 100%;
        margin: 20px auto;
    }
}